<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Perfil</title>
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32.png">
  <link rel="stylesheet" href="../css/perfis.css">
  <link rel="stylesheet" href="../css/perfis-responsividade.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <script defer src="../js/perf.js"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
  </style>
</head>

<script>
  function editar() {
    const input = document.querySelectorAll('input:not(.only)');
    //Remove o nome e o tipo de conta (classe only), já que esses não devem ser mudados
    input.forEach((input) => {
      input.removeAttribute('readonly');
      input.placeholder = "digite o novo valor";
    });
  }
  function abrir() {
    const modal = document.querySelector(".modal-fundo");
    modal.style.opacity = 1;
    modal.style.pointerEvents = "all";
  }
  function fechar() {
    const modal = document.querySelector(".modal-fundo");
    modal.style.opacity = 0;
    modal.style.pointerEvents = "none";
  }
</script>

<style>
  .only {
    font-weight: bold;
    color: brown;
  }
</style>

<body>
  <%-include("../partials/header")%>

    <%-include('../partials/navbar') %>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 offset-1 col-md-10 offset-md-1 col-lg-8">
            <!--MODAL!!!!!-->
            <div class="modal-fundo">
              <div class="modal-cont">
                <h1> Olá <%=result.username%>! Tem certeza que pretende continuar? </h1>
                <p> Apagar a sua conta é uma ação irreversível, todos os seus dados seram apagados. </p>
                <button type="button" class="btn btn-outline-primary btn-curtir" id="button-sair"> <a
                    href="/deleteCadastro" style="text-decoration: none; color: inherit;"> Apagar Conta </a></button>
                <button type="button" class="btn btn-outline-primary btn-curtir" onclick="fechar()">Cancelar</button>
                <!-- <span class="fechar" onclick="fechar()">&times;</span> -->
              </div>
            </div>

            <% if (error && error.length) { %>
              <!-- aq ele verifica se  tem uum error no array de erros, isso é coisa do express -->
              <div class="flash flash-error" style="color: red; text-align:center;">
                <% error.forEach(function(msg){ %>
                  <p>
                    <%= msg %>
                  </p>
                  <% }) %>
              </div> <!--no ejs vc acessa error (que é res.locals.error) -->
              <% } %>
                <% if (success && success.length) { %>
                  <div class="flash flash-success" style="color: green; text-align:center;">
                    <% success.forEach(function(msg){ %>
                      <p>
                        <%= msg %>
                      </p>
                      <% }) %>
                  </div>
                  <% } %>

                    <form action="/atualizarCadastro?_method=PUT" method="POST">
                      <br>
                      <div class="profile-layout">
                        <div class="foto-container">
                          <h1>Meu Perfil</h1>
                          <img src="../img/biblio.jpeg" class="foto">

                          <h2>Olá <%=result.nome%>!</h2>
                        </div>
                        <div class="fields-container">
                          <div class="row">
                            <div class="col-12">
                              <label for="inputNome">Conta</label>
                              <input type="text" class="only" readonly value="<%=result.tipo_conta%>" name="tipo_conta">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-12">
                              <label for="inputNome">Nome</label>
                              <input type="text" class="only" readonly value="<%=result.nome%>" name="nome">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-12">
                              <label for="inputUsuario">Usuário</label>
                              <input type="text" readonly placeholder="<%=result.username%>" name="username">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-12">
                              <label for="inputEmail">Email</label>
                              <input type="email" readonly placeholder="<%=result.email%>" name="email">
                            </div>
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-12">
                              <label for="inputSenha">Senha</label>
                              <input type="password" readonly name="senha">
                            </div>
                          </div>
                          <br>
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="d-flex justify-content-center gap-2 flex-wrap">
                                <button type="submit" class="btn btn-outline-primary btn-curtir"
                                  id="button">Salvar</button>
                                <button type="button" onclick="editar()" class="btn btn-outline-primary btn-curtir"
                                  id="button">Editar</button>
                                <button type="button" class="btn btn-outline-primary btn-curtir" id="button-sair"><a
                                    href="/perfil/biblio"
                                    style="text-decoration: none; color: inherit;">Cancelar</a></button>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div class="row justify-content-center">
                            <div class="col-12">
                              <div class="d-flex justify-content-center gap-2 flex-wrap">
                                <button class="btn btn-outline-primary btn-curtir" id="button-sair"><a href="/sair"
                                    style="text-decoration: none; color: inherit;">Sair da Conta</a></button>
                                <button type="button" class="btn btn-outline-primary btn-curtir" id="button-sair"
                                  onclick="abrir()">Excluir Conta</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                    </form>
          </div>
        </div>
      </div>

      <br>

      <%- include('../partials/footer') %>

</body>

</html>